<a href="/users/<%= @user.username %>/recipients/new">Create a new recipient</a>
<a href="/users/<%= @user.username %>/gifts">Find gifts</a>
<a href="/users/<%= @user.username %>/edit">Change account settings</a>