<div class="row">
  <div class="span4"><a href="/users/<%= @user.username %>/edit">Change account settings</a></div>
  <div class="span4"><a href="/users/<%= @user.username %>/recipients/new">Create a new recipient</a></div>
  <div class="span4"><a href="/users/<%= @user.username %>/gifts">Find gifts</a></div>
</div>