<h1>Welcome, <%= @user.first_name %>!</h1>
<h2>Gift Recipients:</h2>
<ul>
  <% @recipients.each do |recipient| %>
    <li>
      <%= link_to recipient.name, "/users/#{@user.username}/recipients/#{recipient.id}" %>
    </li>
  <% end %>
</ul>