<h1>Create a user account</h1>

<% if @user.errors.any? %>
  <h2>Please resolve the following <%= pluralize(@user.errors.count, "error") %>:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<form action="/users" method="post">
  <label for="first_name">Enter first name</label><br/>
  <input type="string" name="first_name" autofocus="true"/><br/>
  <label for="last_name">Enter last name</label><br/>
  <input type="string" name="last_name"/><br/>
  <label for="email">Enter e-mail address</label><br/>
  <input type="string" name="email"/><br/>
  <label for="username">Enter a username (must be 6-10 characters long)</label><br/>
  <input type="string" name="username"/><br/>
  <label for="password">Enter a password (must be 6-20 characters long)</label><br/>
  <input type="string" name="password"/><br/>
  <button>Submit</button>
</form>