<h1>Welcome, <%= @user.first_name %>!</h1>

<% if @recipients.any? %>
  <h2>Gift Recipients:</h2>
  <ul>
    <% @recipients.each do |recipient| %>
      <li>
        <%= link_to recipient.name, "/users/#{@user.username}/recipients/#{recipient.id}" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2>You have no gift recipients</h2>
<% end %>

<a href="/users/<%= @user.username %>/recipients/new">Create a new recipient</a>