<% unless @recipient.nil? %>
  <% if @recipient.errors.any? %>
    <h2>Please resolve the following <%= pluralize(@recipient.errors.count, "error") %>:</h2>
    <ul>
      <% @recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>