<!-- <div class="brown-div">
<%= render partial: "shared/navbar" %>
</div> -->

<section class="span12">
  <header><h1>Add a gift recipient</h1></header>

  <!-- Displays errors in creating a recipient -->
  <%= render partial: "error" %>

  <form action="/users/<%= @user.username %>/recipients" method="post">
    <label for="name">Enter a name</label>
    <input type="string" name="name" autofocus="true"/>
    <label for="name">Enter a birthday</label>
    <input type="date" name="birthday" />
    <button>Submit</button>
  </form>
</section>