<!-- <div class="brown-div">
<%= render partial: "shared/navbar" %>
</div> -->

<div class="content-div">
<div>
<h1>Add a gift recipient</h1>

<!-- Displays errors in creating a recipient -->
<%= render partial: "error" %>

<form action="/users/<%= @user.username %>/recipients" method="post">
  <label for="name">Enter a name</label><br/>
  <input type="string" name="name" autofocus="true"/><br/>
  <label for="name">Enter a birthday</label><br/>
  <input type="date" name="birthday" /><br/>
  <button>Submit</button>
</form>
</div>
</div>