<section class="span12 content">
  <div class="white">
    <header><h1>Welcome to Gift Savers!</h1></header>
    <p><%= link_to "Log in", sign_in_path %></p>
    <p>or</p>
    <p><%= link_to "Create an account", create_account_path %></p>
  </div>
</section>