<h1>Search for a gift</h1>

<form action="/users/<%= @user.username %>/gifts/new" method="get">
  <select name="category">
    <option value="Books">Books</option>
  </select>
  <input type="string" name="name" />
  <button>Search</button>
</form>

<% unless @results.nil? %>
  <h4>Showing <%= @results.count %> results</h4>
  <ol>
    <% @results.each do |result| %>
      <li>
        <%= result.item_attributes.author %>
      </li>
    <% end %>
  </ol>
<% end %>