/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))),
                    url("gift-box-packaging.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brown-div {
  background-color: #CC3333;
  opacity: 0.8;

  width: 100%;
  text-align: right;
}

.content-div {
  text-align: center;
}

.content-div div {
  background-color: #99CCFF;
  opacity: 0.9;
  border-radius: 3px;

  display: inline-table;
  border-width: 1px;
  border-style: solid;

  text-align: left;
  padding: 5%;

  margin-top: 5%;
  margin-bottom: 5%;
}

#user_nav {
  background-color: white;
  text-align: right;
  padding-right: 1%;
}

ul {
  list-style-type: none;
}

#summary {
  float:left;
}